<mat-toolbar class="mainNav">
    <span>Video Tracker Toolbar</span>&nbsp;
    <mat-list-item routerLink="/profile">Profile</mat-list-item>&nbsp;
    <mat-list-item routerLink="/dashboard">Dashboard</mat-list-item>
</mat-toolbar>

<!-- <nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Video Tracker</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" routerLink="/profile">Profile</a>
      <a class="nav-item nav-link" routerLink="/dashboard">Dashboard</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/colburnrose" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/colburnomareo" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@colburnrose" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</nav> -->

<router-outlet></router-outlet>
