/* .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */


.videoCard {
  display: block;
  max-width: 400px;
  margin-left: 20px;
}

.statCard {
  max-width: 400px;
  margin-left: 20px;
}
